.git
.github
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
tests
README.md
